[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

flask = "*"
gunicorn = "*"
flask-cors = "*"
ipdb = "*"
nltk = "*"


[dev-packages]

